@-ms-viewport{
    width: device-width;
}

a {
	color: inherit; 
    text-decoration: inherit; 
}
html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: #2098D1;
	font-family: Lato, sans-serif;
	color: white;
	box-sizing: border-box;
}


.clear-both {
	clear: both;
}

header {
	max-width: 1160px;
	margin: auto;
	font-weight: bold;
	text-transform: uppercase;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.logo {
	height: 4em;
	align-self: center;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}

.name-container {
	width: 20em;
	margin: 20px 0 20px 20px;
	display: flex;
	justify-content: center;
}

.name {
	font-size: 28px;
	align-self: center;
	/**/
	padding: 0 4px 0 0;
	letter-spacing: .10em;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	border-right: .15em solid white; /* The typwriter cursor ...color doesn't matter*/
  	white-space: nowrap; /* Keeps the content on a single line */
  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  	animation: 
    typing 3s steps(25, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 8em }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e4b7b7; }
  /*
  other color options for the cursor (colors from the logo): 
		#1e1e1e 43.7 % Nero (Black)
		#c1060e 30.6 % Venetian Red (Red)
		#e4b7b7 6.9 % Cavern Pink (Pink)
		#b4b4b4 6.4 % Loblolly (Grey)
		#5a5a5a 5.9 % Bright Grey (Grey)
		#ca4e50 3.8 % Fuzzy Wuzzy Brown (Brown)
		#db7d7e 2.6 % Sea Pink (Pink) */
}
	
.navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style: none;
	margin-right: 20px;
	align-self: center;
}

.navigation a {
	display: block;
	font-size: 13px;
	padding: 15px 12px;
	letter-spacing: .02em;	
}

.navigation .not-last {
	transition: transform 0.3s;
}

.navigation .not-last:hover {
	transform: scale(1.15);
}
.navigation .not-last:active {
	transform: scale(1.30);
}

.navigation .last {
	background-color: rgba(30, 30, 30, 0.4);
	transition: all 0.3s;
}

.navigation .last:hover {
	background-color: rgba(30, 30, 30, 0.6);
	transform: scale(1.15);
}
.navigation .last:active {
	background-color: rgba(30, 30, 30, 0.6);
	transform: scale(1.25);
}

@media all and (max-width: 950px) {
	header {
		flex-direction:column;
	}
	.name-container {
		margin: auto;
	}
	.navigation {
		justify-content: space-around;
	}
}

@media all and (max-width: 600px) {
	.name-container {
		width: 17.8em;
	}
	.name {
	font-size: 24px;
	}
}

/*end of styles for the header*/

/*banner:*/

.banner-container {
	max-width: 1160px;
	margin:0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}

.who-am-i {
	width: 500px;
	margin-right:4px;
	letter-spacing: .02em;	
}

.red-line {
	width: 80px;
	height: 2px;
	background-color: #c1060e;
	margin: 25px 0;
}

.face {	
	width: 400px;
	margin-left:38px;
}

@media all and (max-width: 1000px) {
	.who-am-i {
		margin: 0 6px;
	}
	.face {
		margin: 0;
	}
}

@media all and (max-width: 928px) {
	.who-am-i {
		order: 2;
	}
	.face {
		order: 1;
	}
}
@media all and (max-width: 600px) {
	.who-am-i {
		text-align: center;
	}
	.red-line {
		margin-left: auto;
		margin-right: auto;
	}
	.name {
		padding: 0;
	}
}

/*end of banner styles*/

/*portfolio:*/

.port-container {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0;
}
.port-item {
	width: 350px;
	height: 300px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.port-item img{
	width: 200px;
	align-self: center;
	transition: transform 0.4s;
}

.port-item:hover > img, .port-item:active > img {
	transform: scale(0.80);
}

.slide-up {
	background-color: black;
	opacity: 0.75;
	width: 90%;
	position: absolute;
	bottom: 0;
	margin: 0;
	line-height: 1.4;
	padding: 1.01em 5.01%; /*1.01em and 5.01% because at 1em there's a little space under it, at some sizes...
			 there's no reason for that space, and makes no sense why this fixes it...but it does*/

	transform: translateY(100%);
	transition: transform 0.4s;
}

.port-item:hover > .slide-up, .port-item:active > .slide-up {
	transform: translateY(0);

}


.comic {background-color: rgb(219, 7, 7);}
.croatia {background-color: rgb(50,50,50);}
.famtrav {background-color: rgb(200, 200, 200);}
.sonia {background-color: white;}
.janos {background-color: #2098D1;}
.vps {background-color: rgb(15, 15, 15);}
/*end of portfolio styles*/

.featured {
	width: 100%;
	margin: 0;
	color: #333;
	background-color: white;
	position: relative; /*z-index only works on positioned elements*/
	z-index: 1; /*hides the slide-up from the portfolio section*/

	text-align: center;
	padding-bottom: 100px;
}

.featured h1, .featured p, .featured h3 {
	margin: 0; /*can't have a margin on the first element (because I need the slide-up above hidden
	                        so we might as well just reset everything*/
}

.featured h1{
	padding: 60px 0 0 0;
	font-size: 2.2em;
	font-weight: bold;
}

.featured p {
	padding: 20px 0;
	max-width: 700px;
	margin: 0 auto;
	line-height: 160%;
}

.featured h3 {
	padding: 26px 0 0 0;
	font-size: 1.2em;
	font-weight: bold;
}

/*testimonials section*/

.testimonials {
	display: block;
	width: 100%;
	margin: 0;
	color: #333;
	background-color: white;
	text-align: center;
	border-top: 1px solid white;
	padding-bottom: 60px;
}


.testimonials h1 {
	padding:0;
	font-size: 2.2em;
	font-weight: bold;

}

.testimonials blockquote {
	width: 94%;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 0 14px 0;
	text-align: left;
	font-size: 16px;
}

.testimonials blockquote::before {
	display: block;
	content: "\201C";
	position: relative;
	top: 40px;
	text-align: center;
	width: 100%;
	font-size: 100px;
	color: #ca4e50;
	padding: 0;
	margin: 0;
	line-height: 0.8;
}

.testimonials blockquote footer {
	text-align: right;
	font-weight: bold;
	font-size: 18px;
}

.testimonials a {
	color: #ca4e50;
}
.testimonials a:hover, .testimonials a:active {
	color: #c1060e;
}

/*end of testimonials*/
/*footer:*/
.footer {
	width: 100%;
	background-color: #111;
	color: #aaa;
	line-height: 140%;
	padding: 5px 0;
	text-align: center;
	font-size: .75em;
}
.footer a {
	font-weight: bold;
	transition: color .3s;
}

.footer a:hover, .footer a:active {
	color: #c1060e;
}

/*end of homepage styles*/

/*portofolio about styles:*/

.port-about-banner {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 30px;

}
.port-about-banner h1 {
	font-size: 40px;
	margin: 0;
}
.port-about-banner h3 {
	font-weight: normal;
	margin: 10px 0;
}

.portx2 {
	width: 100%;
	background-color: white;
	color: #333;
	text-align: center;
	padding: 60px 0 40px 0;
	margin: 0;

}

.portx2-image {
	display: block;
	position: relative;
	width: 94%;
	max-width: 700px;
	margin: auto;
}

.portx2 img {
	width: 100%;
}

.overlay {
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #000;
    opacity: 0;
    z-index: 100;
    display: block;
    transition: opacity .3s;
}

.portx2-image:hover > .overlay {
    opacity:0.1;
}

.portx2 h4 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.portx2 .button {
	display: block;
	width: 240px;
	margin: 50px auto;
	font-size: 18px;
	line-height: 3;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #c1060e;
	opacity: .8;
	color: white;
	transition: opacity .3s;
}

.portx2 .button i {
	margin-left: .40em;
}

.portx2 .button:hover, .portx2 .button:active { 
	opacity: 1;
	}

.description {
	width: 100%;
	background-color: white;
	color: #333;
	text-align: center;
}
.description p {
	width: 94%;
	margin: 0 auto;
	max-width: 700px;
	line-height: 1.6;
	text-align: left;
	padding-bottom: 30px;
}

.description:not(:first-child) {
	text-indent: 20px;
}

.description img {
	width: 100px;
	float: left;
	margin: 0 20px 0 0;
}

/*about-janos styles:*/
.about-intro {
	width: 100%;
	background-color: white;
	color: #333;
	text-align: center;
	padding-top:100px;
}
.about-intro p, .about-intro ul {
	width: 94%;
	margin: 0 auto;
	max-width: 700px;
	line-height: 1.6;
	text-align: left;
	padding-bottom: 30px;
}


.about-intro:not(:first-child) {
	text-indent: 20px;
}

.about-intro img {
	width: 300px;
	float: left;
	margin: 0 14px 20px 0;
	border: 2px solid gray;
}

.about-list li{
	padding-bottom: .5em;
}

@media all and (max-width: 700px) {
	.about-intro img {
		width: 94%;
		max-width: 380px;
		margin: 0 auto 20px auto;
		display: block;
		float: none;
	}

}
/*hire-janos styles*/


.hire {
	width: 100%;
	background-color: white;
	color: #333;
	text-align: center;
	padding-top:100px;
	display: block;
}
.hire p {
	width: 94%;
	margin: 0 auto;
	max-width: 700px;
	line-height: 1.6;
	text-align: left;
	padding-bottom: 30px;
}

.hire-link {
	width: 200px;
	display: block;
	margin: 0 auto;	
}
.mailbox {
	width: 130px;
}
.phone {
	width: 150px;
}

.hire-link img {
	width: 100%;
}
