@-ms-viewport{
    width: device-width;
}

a {
	color: inherit; 
    text-decoration: inherit; 
}

body {
	margin: 0;
	background-color: #2098D1;
	font-family: Lato, sans-serif;
	color: white;
}

header {
	max-width: 1160px;
	margin: auto;
	font-weight: bold;
	text-transform: uppercase;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.logo {
	height: 4em;
	align-self: center;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}

.name-container {
	width: 20em;
	margin: 20px 0 20px 20px;
	display: flex;
	justify-content: center;
}

.name {
	font-size: 28px;
	align-self: center;
	/**/
	padding: 0 4px 0 0;
	letter-spacing: .10em;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	border-right: .15em solid white; /* The typwriter cursor ...color doesn't matter*/
  	white-space: nowrap; /* Keeps the content on a single line */
  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  	animation: 
    typing 3s steps(25, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 8em }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e4b7b7; }
  /*
  other color options for the cursor (colors from the logo): 
		#1e1e1e 43.7 % Nero (Black)
		#c1060e 30.6 % Venetian Red (Red)
		#e4b7b7 6.9 % Cavern Pink (Pink)
		#b4b4b4 6.4 % Loblolly (Grey)
		#5a5a5a 5.9 % Bright Grey (Grey)
		#ca4e50 3.8 % Fuzzy Wuzzy Brown (Brown)
		#db7d7e 2.6 % Sea Pink (Pink) */
}
	
.navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style: none;
	margin-right: 20px;
	align-self: center;
}

.navigation a {
	display: block;
	font-size: 13px;
	padding: 15px 12px;
}

.navigation .not-last {
	transition: transform 0.3s;
}

.navigation .not-last:hover {
	transform: scale(1.15);
}
.navigation .not-last:active {
	transform: scale(1.30);
}

.navigation .last {
	background-color: rgba(30, 30, 30, 0.4);
	transition: all 0.3s;
}

.navigation .last:hover {
	background-color: rgba(30, 30, 30, 0.6);
	transform: scale(1.15);
}
.navigation .last:active {
	background-color: rgba(30, 30, 30, 0.6);
	transform: scale(1.25);
}

@media all and (max-width: 950px) {
	header {
		flex-direction:column;
	}
	.name-container {
		margin: auto;
	}
	.navigation {
		justify-content: space-around;
	}
}

@media all and (max-width: 600px) {
		.name-container {
			width: 18em;
		}
		.name {
		font-size: 24px;

	}
}

/*end of styles for the header*/

/*banner:*/

.banner-container {
	max-width: 1160px;
	margin:0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}

.who-am-i {
	width: 500px;
	margin-right:4px;	
}

.red-line {
	width: 80px;
	height: 2px;
	background-color: #c1060e;
	margin: 25px 0;
}

.face {	
	width: 400px;
	margin-left:38px;
}

@media all and (max-width: 1000px) {
	.who-am-i {
		margin: 0 6px;
	}
	.face {
		margin: 0;
	}
}

@media all and (max-width: 928px) {
	.who-am-i {
		order: 2;
	}
	.face {
		order: 1;
	}
}
@media all and (max-width: 600px) {
	.who-am-i {
		text-align: center;
	}
	.red-line {
		margin-left: auto;
		margin-right: auto;
	}
}

/*end of banner styles*/

/*portfolio:*/

.port-container {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0;
}
.port-item {
	width: 350px;
	height: 300px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.port-item img{
	width: 200px;
	align-self: center;
	transition: transform 0.4s;
}

.port-item:hover > img, .port-item:active > img {
	transform: scale(0.80);
}

.slide-up {
	background-color: black;
	opacity: 0.75;
	width: 90%;
	position: absolute;
	bottom: 0;
	margin: 0;
	line-height: 1.4;
	padding: 1.01em 5%; /*1.01em because at 1em there's a little space under it, at some sizes...
			 there's no reason for that space, and makes no sense why this fixes it...but it does*/

	transform: translateY(100%);
	transition: transform 0.4s;
}

.port-item:hover > .slide-up, .port-item:active > .slide-up {
	transform: translateY(0);

}

.vps {background-color: white;}
.test1 {background-color: black;}
.test2 {background-color: orange;}
.test3 {background-color: green;}
.test4 {background-color: blue;}
.test5 {background-color: #111;}

/*end of portfolio styles*/

.featured {
	
	width: 100%;
	margin: 0;
	color: #333;
	background-color: white;
	position: relative; /*z-index only works on positioned elements*/
	z-index: 1; /*hides the slide-up from the portfolio section*/

	text-align: center;
	padding-bottom: 100px;
}

.featured h1, .featured p, .featured h3 {
	margin: 0; /*can't have a margin on the first element (because I need the slide-up above hidden
	                        so we might as well just reset everything*/
}

.featured h1{
	padding: 60px 0 0 0;
	font-size: 2.2em;
	font-weight: bold;
}

.featured p {
	padding: 20px 0;
	max-width: 700px;
	margin: 0 auto;
	line-height: 160%;
}

.featured h3 {
	padding: 26px 0 0 0;
	font-size: 1.2em;
	font-weight: bold;
}
h1.testimonials {
	padding: 100px 0 0 0;
}