/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of css reset*/
html, body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: #FFFFFF;
    color: #414141;
    line-height: 1.25;
}

a {
    color: #0071B3;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    text-decoration: none;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
    box-shadow: none;
}


header {
    max-width: 970px;
    min-width: 320px;
    margin: 20px auto 30px auto;
    padding: 0 0.8%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.header-description {
	width: 60%;
	font-size: 1.025em;
}

.header-description img {
    max-width: 510px;
    max-height: 140px;
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
}

.header-description ol {
    list-style-type: none;
    margin: 20px 0 0 1.4em;
    padding: 0;
    counter-reset: li-counter;
}

.header-description ol > li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 0.5em;
    min-height: 2.8em;
    border-left: 2px solid #CCCCCC;
}
.header-description ol > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #556A72;
    content: counter(li-counter);
    counter-increment: li-counter;
}
.reclama-unu {
	display: block;
    height: 280px;
    width: 336px;
    overflow: hidden;
    background-color: #bbb;
}
/*end of header styles*/

/*navigation*/
.navigation {
    width: 100%;
    max-width: 970px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    align-self: center;
    background-color: white;
}

.navigation a {
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 5px;
    margin: 0 1px;
    letter-spacing: .02em;  
    color: #414141;
    background-color: rgba(230, 230, 230, 0.4);
    transition: all 0.3s;
    border: 1px solid rgba(110, 110, 110, 0.5);
    border-bottom: none;
    border-radius: 2px;
}

.navigation a:hover {
    background-color: rgb(228, 125, 105);
    color: white;
    border: 1px solid rgb(228, 125, 105);
    border-bottom: none;
}

.navigation a:active { /*suggested styles for the active link*/
    background-color: rgb(71, 164, 165);
    color: white;
    border: 1px solid rgb(71, 164, 165);
    border-bottom: none;
}


@media all and (max-width: 955px) {
    
    .navigation a {
        margin: 3px 6px;
        border: none;
        background-color: rgba(110, 110, 110, 0.2);
    }
    .navigation a:hover, .navigation a:active {
        border: none;
    }
}

/*end of navigation styles*/


.reclama-doi, .reclama-trei {
	display: block;
	width: 728px;
	height: 90px;
	margin: auto;
	background-color: #bbb;
}

.reclama-trei {
    margin-bottom: 20px;
}

.main-content {	
    max-width: 970px;
    min-width: 320px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #F0FAFA;
    padding: 30px 0 0 0;
    overflow: hidden;
    border-top: 2px solid #47A4A5;
    border-bottom: 2px solid #47A4A5;
}

.buttons-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
    margin: 20px auto 50px auto;
    height: 33px;
}

.buttons-wrapper button {
	height: 33px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	border-radius: 4px;
	font-size: 13px;
	line-height: 30px;
	letter-spacing: 1.05;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	width: 150px;
}

.upload-button {
	background-color: rgb(71, 164, 165);
	margin-right: 20px;
}
.clear-button {
	background-color: rgb(228, 125, 105);
}

.download-button {
	background-color: #7A7A7A;
}

.upload-icon, .clear-icon, .download-icon {
	/*background-image: url("images/upload-icon.png");*/
	width: 12px;
	height: 12px;
}

.clear-icon {
	width: 10px;
	height: 10px;
	margin-right: 5px;
}


/*new carousel... compiled from Less, source: https://codepen.io/mephysto/pen/ZYVKRY; */

.container {
    width: 100%;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, 
.thumbnail a > img, .thumbnail > img {
    height: 200px;
}

.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

/*footer*/
footer {

    max-width: 970px;
    min-width: 320px;
    margin: auto;
    color: #999999;
    font-size: 0.9em;
    padding: 0 0 20px 0;
}

#like-it {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #414141;
}


#footer-privacy {
    margin-top: 20px;
    text-align: center;
}

/* share */

#share {
    width: 300px;
    margin: 10px auto 0 auto;
    text-align: center;
}
#share .pop {
    margin: 0 5px;
}
.share-bw {
    background: url("images/social-icons.png") no-repeat scroll left top transparent;
    display: inline-block;
    width: 49px;
    height: 49px;
    line-height: 0;
    margin: 0;
}
.share-bw-facebook {
    background-position: -1px -1px;
}
.share-bw-facebook:hover {
    background-position: -1px -51px;
}
.share-bw-twitter {
    background-position: -50px -1px;
}
.share-bw-twitter:hover {
    background-position: -50px -51px;
}
.share-bw-googleplus {
    background-position: -99px -1px;
}
.share-bw-googleplus:hover {
    background-position: -99px -51px;
}
.share-bw-stumbleupon {
    background-position: -148px -1px;
}
.share-bw-stumbleupon:hover {
    background-position: -148px -51px;
}
.share-bw-reddit {
    background-position: -197px -1px;
}
.share-bw-reddit:hover {
    background-position: -197px -51px;
}
.share-bw-vkontakte {
    background-position: -246px -1px;
}
.share-bw-vkontakte:hover {
    background-position: -246px -51px;
}

/* responsive */

@media only screen and (max-width: 960px) {
    .reclama-unu {
        display: none;
		width: 0;
		height: 0;
    }
    header ol {
        display:  none;
    }
    .header-description {
        width: 100%;
        text-align: center;
    }
    .header-description img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
}

/*widget styles*/

.widget {
    position: relative;
    width: 146px;
    height: 140px;
    border: 1px solid rgba(110, 110, 110, 0.5);
    font-size: 12px;
    font-weight: normal;
    border-radius: 4px;
}

.widget .top-right-button {
    float: right;
    width: 14px;
    opacity: 0.5;
    margin: 6px 6px 0 0;
    cursor: pointer;
}

.widget .top-right-button:hover {
    opacity: 1;
}

.widget-finished .widget-title {
    line-height: 30px;
    padding-left: 10px;
}

.widget-main {
    position: absolute;
    border: inherit;
    border-radius: inherit;
    background-color: #fff;
    width: 120px;
    height: 70px;
    top: 35px;
    left: 13px;
}
.widget-main-overlay {
    position: absolute;
    border: inherit;
    border-radius: inherit;
    background: rgba(110, 110, 110, 0.2) url("images/widget-download.png") no-repeat center;
    background-size: 120px 70px;
    width: 120px;
    height: 70px;
    top: 35px;
    left: 13px;
    opacity: 0;
    z-index: 0;
    cursor: pointer;
}
.widget-main-overlay:hover {
    opacity: 0.5;
}

.widget-bottom {
    position: absolute;
    top: 112px;
    left: 13px;
    border: inherit;
    border-radius: inherit;
    width: 120px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFDB84;
    cursor: pointer;
    opacity: 0.8;
}

.widget-bottom:hover {
    opacity: 1;
}